.bn-text-logo{
    margin-left: 20px;
}

.bn-last-m{
    margin-right: 20px;
}

.bn-mb{
    margin-bottom: 20px;
}

.bn-b-l{
    margin-right: 10px;
    margin-top: 5px;
}

.bn-b-ll{
    margin-right: 10px;
}